@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    height: 480px;
    border-radius: 12px;
    width: 350px;
    background-color: #000;
    margin: 5% auto 0 auto;
    /* padding: 3%; */
    }

.brand-calc{
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    position: relative;
    top: 1%;
    left: 5%;
    font-size: smaller;
}

#display{
    margin: 3%;
    border-radius: 3px;
    background-color: #e5e5e5;
    font-family: sans-serif;
    height: 90px;
    text-align: right;
    padding: 3%;
    font-size: 40px;
}

.buttons{
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1vh;
    column-gap: 1vh;
}

.button{
    display: flex;
    border-radius: 10px;
    font-family: sans-serif;
    line-height: 20px;
    color: white;
    background-color: #999999;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding: 12% 0 0 0; */
    margin: 1px;
    height: 50px;
}
.button:hover{
    background-color: #7f7f7f;
}

.buttons .clear{
    background-color: #ff6666;
}

.buttons .clear:hover{
    background-color: #ff4c4c;
}

.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}

.equal{
    height: 210%;
}